body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: center;

}
input{
width:250px;
height:30px;border:2px solid black;
margin:10px;
align-self: center;

}
.container{
    width:400px;
    height:450px;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    display:grid;
    padding:5px;
    grid-template-columns: auto auto auto;
    background-color:black;
}
#display{
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    width:80%;
    height:120%;
    top:20%;
    left:50%;
    color:red;
    font-weight: 900;
    transform: translate(-50%,-50%);
    display: flex;
    align-items:end;
    justify-content:center;
    font-size:40px;
    visibility: hidden;
    /* z-index: 4; */
    transition: 0.4s;


}

@media (max-width:400px)
{
    .container{
        width:100vw;
        height:60vh;
    }
}
.winner{
    background-image: url('winnerimage.png');
    background-position: top;
    background-size:40% 40%;
    background-repeat: no-repeat;
    background-blend-mode:lighten;

    /* transition:1s; */
    
}
.grid-item{
    background-color: #11cb684d;
    border:1px solid black;
    margin:2px;
    
    box-shadow: 3px 5px 5px black;
    position: static;

}
.cross{
    background-image: url('cross.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
}
.circle{
    background-image: url('circle.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
}


div>div>button{
width:5rem;
height:2rem;
}
